@charset "ISO-8859-1";
*{
	font-family:Inter;
}

#NotepaperDiv{
	margin: auto;
  	width: 50%;
  	border: 3px solid green;
  	padding: 10px;
	background-image: url("image/notepaper.jpg");
  	background-repeat: no-repeat;
  	background-size:cover;
}

body{
	background-image: url("image/corkboard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

form{
	margin: auto;
  	width: 30%;
  	padding: 20px;
  	text-align:center;
	align-items:center;
	background-image: url("image/notepaper.jpg");
	background-size: cover;
}

#notConfirmed{
	color:red;
}