@charset "ISO-8859-1";

*{
	font-family:Inter;
	margin: 0; padding: 0;
	
}

body{
	background-color:#F3F2EF;
	display:flex; 
  	flex-direction:column; 
  	height:100vh;
}
table,td{
	border: 1px solid;
	margin: auto;
  	width: 50%;
}
#NotepaperDiv{
	margin: auto;
  	width: 50%;
  	height:100%;
  	border: 2px solid black;
  	border-radius:5px;
	background-color:white;
  	background-repeat: no-repeat;
  	background-size:cover;
  	display:block;
}
#RegisterAsSeeker{
	background-size:cover;
	padding:0;
	width:40vw;
	margin-left: -50vw;
	height:40vw;
	top:0px;
    left: 50%;
}
#RegisterChoice{
	margin: auto;
  	width: 30%;
  	padding: 20px;
  	text-align:center;
}
.RegisterButtons{
	padding:50px 50px;
	color: beige;
	background-color:lightBlue;
}
.caution{
	color:white;
}

#logout{
	background-color:red;
}

#logout:hover{
	background-color: #cc0000;
}

#deleteAccount{
	background-color:#660000;
}

#deleteAccount:hover{
	background-color:#330000;
}
