<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>JobPortal</display-name>
	<filter>
		<description>
		</description>
		<display-name>AddEmployerFilter</display-name>
		<filter-name>AddEmployerFilter</filter-name>
		<filter-class>com.ncs.controller.AddEmployerFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>LoginFilter</display-name>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.ncs.controller.LoginFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>AddSeekerFilter</display-name>
		<filter-name>AddSeekerFilter</filter-name>
		<filter-class>com.ncs.controller.AddSeekerFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>EmployerChangePasswordFilter</display-name>
		<filter-name>EmployerChangePasswordFilter</filter-name>
		<filter-class>com.ncs.controller.EmployerChangePasswordFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>SeekerChangePasswordFilter</display-name>
		<filter-name>SeekerChangePasswordFilter</filter-name>
		<filter-class>com.ncs.controller.SeekerChangePasswordFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>EmployerUpdateDetailFilter</display-name>
		<filter-name>EmployerUpdateDetailFilter</filter-name>
		<filter-class>com.ncs.controller.EmployerUpdateDetailFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>SeekerUpdateDetailFilter</display-name>
		<filter-name>SeekerUpdateDetailFilter</filter-name>
		<filter-class>com.ncs.controller.SeekerUpdateDetailFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AddEmployerFilter</filter-name>
		<url-pattern>/AddEmployerFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AddEmployerFilter</filter-name>
		<servlet-name>AddEmployer</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/LoginFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>Login</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AddSeekerFilter</filter-name>
		<url-pattern>/AddSeekerFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AddSeekerFilter</filter-name>
		<servlet-name>AddSeeker</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployerChangePasswordFilter</filter-name>
		<url-pattern>/EmployerChangePasswordFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployerChangePasswordFilter</filter-name>
		<servlet-name>EmployerChangePassword</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SeekerChangePasswordFilter</filter-name>
		<url-pattern>/SeekerChangePasswordFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SeekerChangePasswordFilter</filter-name>
		<servlet-name>SeekerChangePassword</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployerUpdateDetailFilter</filter-name>
		<url-pattern>/EmployerUpdateDetailFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployerUpdateDetailFilter</filter-name>
		<servlet-name>EmployerUpdateDetail</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SeekerUpdateDetailFilter</filter-name>
		<url-pattern>/SeekerUpdateDetailFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SeekerUpdateDetailFilter</filter-name>
		<servlet-name>SeekerUpdateDetail</servlet-name>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>AddEmployer</display-name>
		<servlet-name>AddEmployer</servlet-name>
		<servlet-class>com.ncs.controller.AddEmployer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.ncs.controller.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddJobsPosted</display-name>
		<servlet-name>AddJobsPosted</servlet-name>
		<servlet-class>com.ncs.controller.AddJobsPosted</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddSeeker</display-name>
		<servlet-name>AddSeeker</servlet-name>
		<servlet-class>com.ncs.controller.AddSeeker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SeekerJobList</display-name>
		<servlet-name>SeekerJobList</servlet-name>
		<servlet-class>com.ncs.controller.SeekerJobList</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Applying</display-name>
		<servlet-name>Applying</servlet-name>
		<servlet-class>com.ncs.controller.Applying</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EmployerJobList</display-name>
		<servlet-name>EmployerJobList</servlet-name>
		<servlet-class>com.ncs.controller.EmployerJobList</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateJobStatus</display-name>
		<servlet-name>UpdateJobStatus</servlet-name>
		<servlet-class>com.ncs.controller.UpdateJobStatus</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EmployerJobPosting</display-name>
		<servlet-name>EmployerJobPosting</servlet-name>
		<servlet-class>com.ncs.controller.EmployerJobPosting</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteJobPosting</display-name>
		<servlet-name>DeleteJobPosting</servlet-name>
		<servlet-class>com.ncs.controller.DeleteJobPosting</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteEmployer</display-name>
		<servlet-name>DeleteEmployer</servlet-name>
		<servlet-class>com.ncs.controller.DeleteEmployer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteSeeker</display-name>
		<servlet-name>DeleteSeeker</servlet-name>
		<servlet-class>com.ncs.controller.DeleteSeeker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SeekerJobAppliedList</display-name>
		<servlet-name>SeekerJobAppliedList</servlet-name>
		<servlet-class>com.ncs.controller.SeekerJobAppliedList</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.ncs.controller.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EmployerChangePassword</display-name>
		<servlet-name>EmployerChangePassword</servlet-name>
		<servlet-class>com.ncs.controller.EmployerChangePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SeekerChangePassword</display-name>
		<servlet-name>SeekerChangePassword</servlet-name>
		<servlet-class>com.ncs.controller.SeekerChangePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EmployerUpdateDetail</display-name>
		<servlet-name>EmployerUpdateDetail</servlet-name>
		<servlet-class>com.ncs.controller.EmployerUpdateDetail</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SeekerUpdateDetail</display-name>
		<servlet-name>SeekerUpdateDetail</servlet-name>
		<servlet-class>com.ncs.controller.SeekerUpdateDetail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddEmployer</servlet-name>
		<url-pattern>/AddEmployer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddJobsPosted</servlet-name>
		<url-pattern>/AddJobsPosted</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddSeeker</servlet-name>
		<url-pattern>/AddSeeker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SeekerJobList</servlet-name>
		<url-pattern>/SeekerJobList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Applying</servlet-name>
		<url-pattern>/Applying</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployerJobList</servlet-name>
		<url-pattern>/EmployerJobList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateJobStatus</servlet-name>
		<url-pattern>/UpdateJobStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployerJobPosting</servlet-name>
		<url-pattern>/EmployerJobPosting</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteJobPosting</servlet-name>
		<url-pattern>/DeleteJobPosting</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteEmployer</servlet-name>
		<url-pattern>/DeleteEmployer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteSeeker</servlet-name>
		<url-pattern>/DeleteSeeker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SeekerJobAppliedList</servlet-name>
		<url-pattern>/SeekerJobAppliedList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployerChangePassword</servlet-name>
		<url-pattern>/EmployerChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SeekerChangePassword</servlet-name>
		<url-pattern>/SeekerChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployerUpdateDetail</servlet-name>
		<url-pattern>/EmployerUpdateDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SeekerUpdateDetail</servlet-name>
		<url-pattern>/SeekerUpdateDetail</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
